@import "tailwindcss";

@theme {
  --color-navy-500: #1a365d;
  --color-navy-600: #153e75;
  --color-navy-700: #1e3a8a;
  --color-navy-800: #1e40af;
  --color-navy-900: #1e3a5f;
  --color-navy-950: #0a1128;

  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-800: #1f2937;

  --font-sans: 'Inter', sans-serif;
}

@layer base {

  html,
  body {
    overflow-x: hidden;
  }

  body {
    background-color: white;
    color: var(--color-gray-800);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}